<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Landing Page</title>
</head>
<body style="background-color: #ccffff; font-size: 18px;">
    <nav>
        <div class="heading">Landing Page</div>
        <span class="sideMenuButton"
              onclick="openNavbar()">
            ☰
        </span>

        <div class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="sideNavigationBar"
         id="sideNavigationBar">
        <a href="#" class="closeButton"
           onclick="closeNavbar()">
            ❌
        </a>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Sign Up</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div id="contacts">
                    <section class="contact" id="contact">
                        <div class="content">
                            <div class="title"><span></span></div>
                            <div class="contactMenu">
                                <div class="input1">
                                    <div class="label1">Your Name</div>
                                    <div class="input2">
                                        <input type="text" value="Chituyi"
                                               placeholder="Enter your Name here">
                                    </div><br>
                                    <div class="label1">
                                        <label>Your Email</label>
                                    </div>
                                    <div class="input2">
                                        <input type="text" value="cwakhusama@gmail.com"
                                               placeholder="Enter your Email here">
                                    </div><br>
                                    <div class="label1">
                                        <label>Your Password</label>
                                    </div>
                                    <div class="input2">
                                        <input type="text" value="test"
                                               placeholder="Enter your Password here">
                                    </div>
                                    <div class="button"><br>
                                        <button>Sign Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <section class="abt" id="My Projects" style="background-image: url('{{ url_for('static', filename='image.jpg') }}');">
                                    <div class="content">
                                        <div class="boxes">
                                            <div class="box">
                                                <div class="topic">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="footer">
                            <span>
                                Brought to you by Chituyi 👋😊❤️ Created By
                                <a href="https://dallo7.github.io/"
                                   target="_blank">
                                    ML Concepts and Projects
                                </a>
                            </span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="index.js"></script>

</body>

</html>